/* General Reset */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
    position: relative;
    margin: 0;
    background-color: #ececec;
}

/* Fonts */
.krona {
    font-family: "Krona One", sans-serif;
}

.spartan {
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
}

/* Header */
header {
    height: 70px;
    background-color: #03472c;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
}

header img {
    cursor: pointer;
}

header h1 {
    font-size: 36px;
}

/* Guide Section */
.guide {
    padding: 20px;
    background-color: #363A37;
    color: #dee0d2;
}

.guide2 {
    padding: 20px;
    background-color: #94BBA8;
    color: #dee0d2;
}

.guide2 h3 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: normal;
}

.guide h2 {
    text-align: center;
    font-size: 36px;
    color: #dee0d2; 
    margin-bottom: 40px;
}

.guide h3 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: normal;
}

.recycling-options {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 60px;
    margin-top: 40px;
}

.option {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    flex: 1 1 calc(33% - 40px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 400px;
    max-width: 500px;
    color: black;
}

.option img {
    max-width: 40px;
    margin-bottom: 8px;
}

.option h3 {
    color: #03472c;
    margin-bottom: 15px;
}

.option p {
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
}

/* Disposal and Collection Sections Side by Side */
.disposal-and-collection {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    background-color: #94BBA8;
}


.disposal-and-collection h3 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
    font-size: 40px;
}

/* How to Dispose Section */
.list-container {
    flex: 1 1 40%;
    border-radius: 15px;
    padding: 50px;

}

.list-container h3 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

.how-to-dispose {
    padding: 20px;
    color: black;
}

.how-to-dispose h3 {
    color: black;
    margin-bottom: 20px;
    text-align: center;
}

.white-box {
    background-color: white;
    border-radius: 15px; 
    padding: 20px;
    margin-top: 20px;
}

/* Style for list items within the white box */
.white-box ul li {
    margin-bottom: 10px;
    font-size: 40px;
    text-align: center; 
    padding: 20px;
}

/* Remove bullet points from the list */
.how-to-dispose ul {
    list-style-type: none;
    padding-left: 0;
}

/* Collection Points Section */
.collection-points {
    flex: 1 1 40%;
    padding: 70px;
}

.collection-points h3 {
    color: black;
    margin-bottom: 20px;
    text-align: center;
}

.points {
    display: table;
    flex-wrap: wrap;
    gap: 0;
    justify-content: center;
    border: 20px solid white;
    border-radius: 10px;
    overflow: hidden;
    content: "";
    clear: both;
    width: 100%;
}

.point {
    float: left;
    width: 50%;
    padding: 10px; 
    height: 390px;
}

.point h4 {
    color: white;
    margin-top: 70px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 100px;
    font-weight: normal;
}

.point p {
    font-size: 14px;
    margin-top: 40px;
    color: white;
    text-align: center;
    font-size: 50px;
}

/* Footer */
footer {
    background-color: #03472c;
    color: #dee0d2;
    padding: 20px;
    text-align: center;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-more {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}

.link-item {
    padding: 10px 20px;
    font-size: 13px;
}

.footer-contacts > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
}

.footer-contacts > p {
    text-align: center;
    font-size: 11px;
}

/* General Link Styles */
a {
    color: inherit;
    text-decoration: none;
}

.hide {
    display: none;
}

/* Navbar */
.nav {
    background-color: #03472c;
    width: 300px;
    padding: 0 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    height: 100%;
}

.backdrop {
    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}

.up {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #dee0d2;
    text-shadow: 2px 2px #000;
    height: 70px;
}

.navigation {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    justify-content: space-between;
    height: 80%;
    color: white;
    padding-left: 20px;
    padding-top: 20px;
}

.navigation a:hover {
    color: rgb(197, 185, 185);
}
